@import url("styles.css");

.transparent-background {
  height: 100vh;
  background: rgba(255,255,255,0.8);
}

#about-header {
  margin-top: -1px;
  font-family: "gothic";
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

#about-content {
  font-size: 18px;
  font-family: "gothic";
  color: #000000;
  margin-bottom: 20px;
  text-align: justify;
}

.row {
  overflow: hidden;
}

[class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#about_img {
  max-height: 550px;
  float: right;
}

#about_sig {
  max-height: 60px;
  float: right;
  margin-bottom: 25px;
}

#about_resume {
  margin-top: 10px;
  float: right;
  font-weight: bold;
  font-family: "gothic";
  font-size: 14px;
  color: #000000;
}

@media only screen and (max-width: 650px) {
  .transparent-background {
    height: inherit;
  }
}
